*{
    box-sizing: border-box;
}

body{
    background-color: cyan;
}

div{
    border: 1px solid black;
}

.puppy{
    display: flex;
    border: 0px;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
}