*{
    box-sizing: border-box;
}

body{
    background-color: cyan;
    font-family: 'Times New Roman', Times, serif;
}

.selected{
    border: 1px solid purple;
}

div{
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem;
}

.puppy{
    display: flex;
    border: 0px;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
}

img{
    height: 500px;
    width: 500px;
}