*{
    box-sizing: border-box;
}

body{
    background-color: cyan;
    font-family: 'Times New Roman', Times, serif;
}

.selected{
    border: 1px solid purple;
}

div{
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem;
}

.puppy{
    display: flex;
    border: 0px;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
}

.details{
    border: 0;
    text-align: center;
}

.details div{
    height: 200vh;
    background-size: cover;
    color: yellow;
    font-size: 2rem;
    text-shadow: 2px 2px black;
}

@media (max-width: 450px) {
    .puppy{
        flex-direction: column;
    }
}